# Number Pattern

### Pattern 1

In [1]:
for i in range(1,6,):
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234
12345

### Pattern 2

In [59]:
for i in range(1,6):
    for j in range(i):
        print(i,end="")
    print()

1
22
333
4444
55555

### Pattern 3

In [38]:
for i in range(1,6,):
    for j in range(1,i+1):
        print(j,end="")
    print()
for i in range(5,1,-1):
    for j in range(1,i):
        print(j,end="")
    print()

1
12
123
1234
12345
1234
123
12
1

### Pattern 4

In [40]:
for i in range(6,1,-1):
    for j in range(1,i):
        print(j,end="")
    print()
for i in range(1,6,):
    for j in range(1,i+1):
        print(j,end="")
    print()

12345
1234
123
12
1
1
12
123
1234
12345

### Pattern 5

In [41]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end="")
    print()
for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end="")
    print()

54321
4321
321
21
1
1
21
321
4321
54321

### Pattern 6

In [16]:
for i in range(1,6):
    print(" "*(5-i),end='')
    for j in range(1,i+1):
        print(j,end=' ')
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

### Pattern 7

In [49]:
for i in range(1,6,):
    for j in range(5,i-1,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

### Pattern 8

In [48]:
for i in range(5,0,-1):
    for j in range(5,i-1,-1):
        print(j,end=" ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

### Pattern 9

In [50]:
for i in range(6,1,-1):
    for j in range(1,i):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

### Pattern 10

In [1]:
'''n=int(input('enter a number:'))
k=1
i=1

while i<n:
    j=1
    while j<=i and k<=n:
        print(k,end=' ')
        k+=1
        j+=1
        
    i+=1
    print('')'''
n=int(input("enter a row:"))
k=1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(k,end=' ')
        k+=1
    print()

enter a row:5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [3]:
n=int(input("enter a row:"))
k=1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(k%2,end=' ')
        k+=1
    print()

enter a row:5
1
0 1
0 1 0
1 0 1 0
1 0 1 0 1

### Pattern 11

In [9]:
for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end="")
    print()

1
21
321
4321
54321

### Pattern 12

In [87]:
for i in range(1,6):
    for j in range(1,i+1):
            print(i,end=" ")
            i+=5
    print("")

1
2 7
3 8 13
4 9 14 19
5 10 15 20 25

### Pattern 13

In [2]:
#n=int(input("Enter a no: "))
#for i in range(0,n):#to print rows
#    for a in range(1,n-i+1):
#        print(" ",end="")
    #for j in range(1,i+1):#to print coloumns
#    print(11**i, end=" ")
#    print(" ")
n=int(input("Enter the no. of rows: "))
for i in range(1, n + 1): 
    
    c = 1      
    print(" "*(n-i), end="") 
    for j in range(1, i + 1): 
    
        print(c, end = " ")
        c = int(c * (i - j) / j)
    print(" ")

Enter the no. of rows: 5
    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

### Pattern 14

In [103]:
for i in range (1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    for j in range(i-1,0,-1):
        print(j,end=" ")
    print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

### Pattern 15

In [101]:
for i in range(5,0,-1):
    print(" "*(5-i),end='')
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

### Pattern 16

In [104]:
for i in range(1,6):
    print(" "*(5-i),end='')
    for j in range(1,i+1):
        print(j,end=' ')
    print()
for i in range(4,0,-1):
    print(" "*(5-i),end='')
    for j in range(1,i+1):
        print(j,end=' ')
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

### Pattern 17

In [3]:
for i in range(1,6,):
    print(" "*(i),end='')
    for j in range(i,6,):
        print(j,end=" ")
    print()
for i in range(6,1,-1):
    print(" "*(i-1),end='')
    for j in range(i-1,6):
        print(j,end=" ")
    print()

 1 2 3 4 5
  2 3 4 5
   3 4 5
    4 5
     5
     5
    4 5
   3 4 5
  2 3 4 5
 1 2 3 4 5

### Pattern 18

In [94]:
for i in range(1,6):
    print(" "*(i-1),end='')
    for j in range(i,6):
        print(j,end=" ")
    print()
for i in range(5,0,-1):
    print(" "*(i-1),end='')
    for j in range(i,6,1):
        print(j,end=" ")
    print()

1 2 3 4 5
 2 3 4 5
  3 4 5
   4 5
    5
    5
   4 5
  3 4 5
 2 3 4 5
1 2 3 4 5

### Pattern 19

In [116]:
for i in range(6,1,-1):
    print(" "*(i-1),end='')
    for j in range(i-1,6,1):
        print(j,end=" ")
    print()

     5
    4 5
   3 4 5
  2 3 4 5
 1 2 3 4 5

### Pattern 20

In [55]:
for i in range (1,6):
    print("  "*(5-i),end='')
    for j in range(1,i+1):
        print(j,end=" ")
    for j in range(i-1,0,-1):
        print(j,end=" ")
    print()

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [ ]:
for i in range (1,6):
    print("  "*(5-i),end='')
    for j in range(1,i+1):
        print(j,end=" ")
    for j in range(i-1,0,-1):
        print(j,end=" ")
    print()

### Pattern 21

In [95]:
for i in range(1,6,):
    for j in range(1,i+1):
        print(j%2,end="")
    print()

1
10
101
1010
10101

### Pattern 22

In [26]:
for i in range(1,6,):
    if i>=2:
        for k in range(1,i):
            print("0",end="")
    for j in range(1):
        print(i,end="")
    
    for j in range(4,i-1,-1):
        print("0",end="")
    print()
'''for i in range(1,6):
    for j in range(1,6):
        if i==j:
            print(j,end="")
        else:
            print(0,end="")

    print()'''

10000
02000
00300
00040
00005

### Pattern 23

In [64]:
for i in range(1,6):
    print("1"*(5-i),end='')
    for j in range(i):
        print(i,end="")
    print()

11111
11122
11333
14444
55555

### Pattern 24

In [42]:
for i in range(1,6,):
    for j in range(i,5,):
        print(j,end="")
    for j in range(5,i-1,-1):
            print(j,end="")
    print()

123454321
2345432
34543
454
5

### Pattern 25

In [44]:
for i in range(1,6):
    print(" "*(5-i),end='')
    for j in range(i):
        print(i,end=" ")
    print()

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

### Pattern 26

In [50]:
for i in range(6,1,-1):
    for j in range(i-1,6,1):
        print(j,end=" ")
    for j in range(1,i-1):
        print("5",end=" ")
    print()

5 5 5 5 5
4 5 5 5 5
3 4 5 5 5
2 3 4 5 5
1 2 3 4 5

### Pattern 27

In [56]:
for i in range(1,6):
    for j in range(1,i+1):
            print(i,end=" ")
            i+=4
    print("")

1
2 6
3 7 11
4 8 12 16
5 9 13 17 21

### Pattern 28

In [78]:
for i in range(1,10):
    
    if i<=5:
        for j in range(1,i+1):
            a=j*i
            print(a,end=" ")
        print("")
    elif i==6:
            for j in range(1,i-1):
                a=j*i
                print(a,end=" ")
            print("")
    elif i==7:
        for j in range(1,i-3):
                a=j*i
                print(a,end=" ")
        print("")
    elif i==8:
        for j in range(1,i-5):
                a=j*i
                print(a,end=" ")
        print("") 
    elif i==9:
        for j in range(1,i-7):
                a=j*i
                print(a,end=" ")
        print("")

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24
7 14 21
8 16
9

### Pattern 29

### Pattern 30

### Pattern 48

In [33]:
for i in range(5,0,-1):
    for j in range(i,6,1):
        print(j,end=" ")
    print()

5
4 5
3 4 5
2 3 4 5
1 2 3 4 5